@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    background-color: #585855;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:linear-gradient(45 deg,black ,grey);
}

.calculator{
    border: 1px solid #fcc2c2;
    padding: 20px;
    border-radius: 15px;
    background-color:#716c6f;
    box-shadow: 0px,3px,15px rgba(142, 105, 244, 0.5);

}

 
input{
    width: 320px;
    border: none;
    padding: 25px;
    margin: 10px;
   
    background-color: transparent;
    box-shadow: 0px,3px,15px rgbs(84,84,84,0.2);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: white;

}
input::placeholder{
    color: rgb(241, 244, 247);
    box-sizing: content-box;

}

button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    background-color: transparent;
    border-radius: 50px;
    font-size: 20px;
    color: black;
    box-shadow: -8px -8px 15px rgba(155,255,255,0.1);
    cursor: pointer;

}

.equalbtn{
    background-color: rgb(234, 156, 11);
}

.operator{
    background-color: rgb(164, 241, 49);
}


